<div class="row p-3">
    <div class="col-4">
        <label for="fname" class="form-label">Name <label style="color: purple;">*</label></label>
        <input type="text" class="form-control form-control-lg" id="fname">
        <div id="firstNameHelp" class="form-text">First Name</div>
    </div>
    <div class="col-4">
        <label for="lname" class="form-label"></label>
        <input type="text" class="form-control form-control-lg" id="lname">
        <div id="lastNameHelp" class="form-text">Last Name</div>
    </div>
</div>
<div class="row p-3">
    <div class="col">
        <label for="email" class="form-label">Email*</label>
        <input type="email" class="form-control form-control-lg" id="email">
    </div>
</div>
<div class="row p-3">
    <div class="col">
        <label for="phone" class="form-label">Phone*</label>
        <input type="phone" class="form-control form-control-lg" id="phone">
    </div>
</div>
<div class="row p-3">
    <div class="col">
        <label for="address" class="form-label">Address*</label>
        <input type="address" class="form-control form-control-lg" id="address">
    </div>
</div>